<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="AHT\Eav\Api\Data\ProductInterface" type="AHT\Eav\Model\Product" />
    <preference for="AHT\Eav\Api\ProductRepositoryInterface" type="AHT\Eav\Model\ResourceModel\ProductRepository" />

</config>